<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سایت در دست تعمیر</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>سایت در دست تعمیر است</h1>
    <p>به زودی باز می گردیم</p>
</body>
</html>